{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style="font-family: 'Jost', sans-serif;">
    <div class="row mt-5" style="padding-top: 80px;">
        <div class="col-sm-6 m-auto card">
            <br>
            <div>
                <form method="POST" enctype="multipart/form-data" class="p-5">
                    {%csrf_token%}
                    <fieldset class="form-group">
                        <img class="rounded-circle account-img d-block mx-auto img-fluid"
                            src="{{user.profile.profilePic.url}}">
                        <h5 class="text-center mt-3">Username: {{user.username}}</h5>

                        <p class="text-center">Bio:{{user.profile.bio}}</p>
                        <p class="text-center">Contact: {{user.profile.contact}}</p>
                        
                        <legend class="border-bottom pt-4 mb-4">Profile</legend>

                    </fieldset>
                    <a href="{% url 'editprofile' %}">
                        <button class="btn btn-outline-info text-center" type="submit">Edit Profile</button>
                    </a>
                    <br>
                    <br>
                    <hr>
                    <div>
                        <a href="{% url 'book_hostel' %}">
                            <button class="btn btn-outline-info text-center" type="submit">Book A Hostel</button>
                        </a>
                    </div>
                   
            </div>
        </div>
    </div>
</div>


{% endblock %}