{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style="margin-top:7%;">
    <div class="row">
        <div class="col-md-7" style="margin-top:10px">
            <div class="media-body">
                <img class="rounded-circle" style=" height: 165px; width: 165px;" src="{{ user.profilePic.url }}" alt=""
                    style="float : left;">
                <div class="details" style="float:right;">
                    <div class="profile d-flex justify-content-around">
                        <h5 style="margin-right: 20px; margin-left: 20px;">{{ user.username}}</h5>
                        <div>
                        <a href="{% url 'editprofile' %}">
                            <button class="btn btn-primary text-center">Edit Profile</button>
                        </a>
                        </div>

                        <br>
                        <div>
                        <a href="{% url 'editprofile' %}">
                            <button class="btn btn-primary text-center">Book A Hostel</button>
                        </a>
                    </div>
                    </div>

                    <p style="margin-left: 20px;">{{ user.profile.bio}}</p>
                </div>
                <p style="margin-left: 20px;">{{ user.profile.contact}}</p>
            </div>

        </div>
    </div>


    {% endblock %}